header {
    margin-top: 1em !important;

    h1 {
        width: 1em; height: 1em;
        background: url(/assets/images/fzap_clock_sportstudio_design.svg) top left no-repeat;
        background-size: 1em 1em;
        text-indent: -9999px;
        margin: 0;
    }

    form {
        margin-top: 0.3em;
    }
}

#timers {
    [class*="column"]:last-child {
        float: left;
    }
} 

footer {
    text-align: right;
    color: #eee;

    hr {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 0;
    }

    p {
        margin-top: 0.2em;

        a {
            color: #ddd;
        }

        a:hover {
            color: #ccc;
        }
    }

    #location {
        display: none;
    }
}
